<section class="card">
    <div class="card-body">
        <h1>About</h1>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, molestiae culpa. Eveniet distinctio animi sed atque aliquid iusto doloribus at?
    </div>
</section>