<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <h1>Mi Aplicación con Handlebars</h1>
  </header>
  {{{body}}} <!-- Aquí se insertará el contenido de cada vista -->
  <footer>
    <p>© 2024 Mi Aplicación</p>
  </footer>
</body>
</html>